* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  font-family: 'Segoe UI', sans-serif;
  overflow: hidden;
  position: relative;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  filter: contrast(1.1) blur(1px);
  image-rendering: pixelated;
  z-index: -1;
  transition: background-image 1s ease-in-out;
}

.content {
  position: relative;
  z-index: 1;
  text-align: center;
  color: white;
  margin-top: 25vh;
  text-shadow: 2px 2px 10px black;
}
